*.ipynb*
*.ipynb

# local data
outputs/*
data/*
temp*
test*
pdf_cache/*

# python
.ipynb_checkpoints
*.ipynb
**/__pycache__/

# logs
*.log
*.out
*.env
models/*

# Sphinx documentation
docs/*/_build/
.env
